:root {
  --font-family: "NT Somic", "Arial", sans-serif;

  --color-primary: #212121;
  --color-secondary: #6c778e;
  --color-accent: #2A84EE;
  --color-accent-light: #11AE88;
  --color-background: #ffffff;
  --color-background-light: #e8f2fc;
  --color-wb: #702a8a;
  --color-ozon: #1065ff;

  --gradient-button: linear-gradient(91deg, var(--color-accent-light) 5.69%, var(--color-accent) 169.72%);
  --gradient-button-reverse: linear-gradient(91deg, var(--color-accent) 5.69%, var(--color-accent-light) 169.72%);
  --gradient-test: linear-gradient(91deg, var(--color-accent-light) 5.69%, var(--color-accent) 125.81%);

  --font-size-h1: 4.0rem;
  --font-size-h2: 2.8rem;
  --font-size-h3: 2.6rem;
  --font-size-base: 2.2rem;
  --font-size-lg: 1.8rem;
  --font-size-md: 1.6rem;
  --font-size-xs: 1.4rem;

  --line-height-base: 2.75rem;
  --letter-spacing-base: 0.032rem;

  --border-radius: 30px;
  --border-radius-card: 10px;
  --container-max-width: 1600px;
  --gap: 20px;
  --gap-md: 30px;
  --gap-lg: 40px;


}

*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0
}

.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px 15px;
  color: #18191c;
  background: #10f3af;
  transform: translateY(-100%)
}

.skip-link:focus {
  transform: translateY(20%)
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%
}

.page__body {
  font-family: var(--font-family);
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  font-weight: 400;
  color: var(--color-primary)
}

.page__body::after {
  content: "";
  position: fixed;
  z-index: -2;
  inset: 0;
  width: 100%;
  height: 100%
}

.button {
  font-family: var(--font-family);
  padding: 13px 35px;
  border-radius: var(--border-radius);
  border: 0;
  background: var(--gradient-button);
  color: var(--color-background);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-md);
  line-height: 2rem;
  cursor: pointer
}

@media (min-width:1920px) {
  .button {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-base)
  }
}

.button:focus,
.button:hover {
  box-shadow: 0 0 30px 0 #50abdc;
  transition: all .3s
}

.button:active {
  background: var(--gradient-button-reverse)
}

@media (max-width:1919px) {
  .button--gradient-reverse {
    background: var(--gradient-button-reverse);
    box-shadow: 0 0 30px 0 #50abdc
  }

  .button--gradient-reverse:focus,
  .button--gradient-reverse:hover {
    box-shadow: 0 0 30px 0 var(--color-background);
    transition: all .3s
  }
}

.header__container,
.main__container,
.footer__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--gap);
  width: calc(100% - 40px);
}

@media (min-width:1440px) {
  .title {
    font-size: 4.6rem;
    line-height: 5.75rem;
    letter-spacing: .092rem
  }
}

.header__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 20px 0
}

@media (min-width:768px) {
  .header__container {
    width: calc(100% - 100px)
  }
}

@media (min-width:1024px) {
  .header__container {
    width: calc(100% - 140px)
  }
}

@media (min-width:1440px) {
  .header__container {
    width: calc(100% - 230px)
  }
}

@media (min-width:1920px) {
  .header__container {
    width: calc(100% - 320px)
  }
}

@media (min-width:1024px) {
  .header__container {
    justify-content: space-between;
    padding: 25px 0
  }
}

.header__site-navigation,
.header__toggle span,
.user-navigation__link span {
  display: none
}

@media (min-width:1024px) {
  .header__site-navigation {
    display: block
  }
}

.header__user-navigation {
  margin-left: auto
}

@media (min-width:1024px) {
  .header__user-navigation {
    margin: 0
  }
}

.header__toggle {
  margin-left: 22px;
  width: 30px;
  height: 25px;
  background: url(../img/burger.svg) no-repeat center;
  cursor: pointer;
  border: 0
}

@media (min-width:1024px) {
  .header__toggle {
    display: none
  }
}


.logo {
  display: flex;
  align-items: center;
  column-gap: var(--gap-md)
}

.logo__image {
  display: block;
  height: auto
}

@media (min-width:1920px) {
  .logo__image {
    width: 260px
  }
}

.logo__text {
  display: none;
  margin: 0;
  font-size: var(--font-size-xs);
  line-height: 1.75rem;
  color:var(--color-secondary)
}

@media (min-width:1920px) {
  .logo__text {
    display: block
  }
}

.logo__market--wb { 
  color: var(--color-wb); 
}

.logo__market--ozon { 
  color: var(--color-ozon); 
}


.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 10px
}

.site-navigation__link {
  text-decoration: none;
  font-size: var(--font-size-xs);
  line-height: 1.75rem;
  color: var(--color-primary);
  padding: 13px 20px;
  display: block;
  border-radius: 5px
}

.site-navigation__link:focus,
.site-navigation__link:hover {
  box-shadow: 0 0 30px 0 #bbb;
  transition: all .3s
}

.site-navigation__link:active {
  background-color: #f0f0f0
}

@media (min-width:1440px) {
  .site-navigation__link {
    font-size: var(--font-size-md);
    line-height: 2rem
  }
}

@media (min-width:1920px) {
  .site-navigation__link {
    font-size: var(--font-size-lg);
    line-height: 2.25rem
  }
}

.user-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

@media (min-width:1024px) {
  .user-navigation__list {
    column-gap: var(--gap)
  }
}

.user-navigation__link {
  color: var(--color-primary);
  display: none;
  text-decoration: none;
  font-size: var(--font-size-xs);
  line-height: 1.75rem
}

@media (min-width:1024px) {
  .user-navigation__link {
    display: block
  }
}

@media (min-width:1440px) {
  .user-navigation__link {
    display: block;
    font-size: var(--font-size-md);
    line-height: 2rem
  }
}

@media (min-width:1920px) {
  .user-navigation__link {
    font-size: var(--font-size-lg);
    line-height: 2.25rem
  }
}

@media (min-width:1024px) {
  .user-navigation__link span {
    display: block;
    background-color: transparent
  }
}

.user-navigation__link--sign-in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px
}

.user-navigation__link--sign-in::before {
  content: "";
  width: 26px;
  height: 25px;
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  background-position: center
}

.user-navigation__link--sign-up {
  color: var(--color-background)
}


.main {
  flex-grow: 1
}

.main--blue {
  background-color: var(--color-background-light)
}

.main__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  min-height: 100%
}

@media (min-width:768px) {
  .main__container {
    width: calc(100% - 100px)
  }
}

@media (min-width:1024px) {
  .main__container {
    width: calc(100% - 140px)
  }
}

@media (min-width:1440px) {
  .main__container {
    width: calc(100% - 230px)
  }
}

@media (min-width:1920px) {
  .main__container {
    width: calc(100% - 320px)
  }
}


.hero {
  padding: 15px 0;
  position: relative
}

@media (min-width:1920px) {
  .hero {
    padding: 53px 0 51px;
    position: relative
  }
}

.hero__title {
  color: var(--color-primary);
  font-size: var(--font-size-h2);
  line-height: 3.22rem;
  letter-spacing: .05rem;
  margin-bottom: 15px
}

@media (min-width:1024px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 4.38rem
  }
}

@media (min-width:1440px) {
  .hero__title {
    width: 54%;
    font-size: 4.5rem;
    line-height: 5.63rem;
    letter-spacing: .12rem
  }
}

@media (min-width:1920px) {
  .hero__title {
    width: 68.8%;
    font-size: 6rem;
    line-height: 7.5rem;
    letter-spacing: .12rem;
    margin-bottom: 33px
  }
}


.hero__title span:nth-child(1) {
  color: var(--color-accent-light)
}

.hero__title span:nth-child(2) {
  color: var(--color-accent)
}

.hero__title img {
  margin-bottom: -5px
}

@media (min-width:1440px) {
  .hero__title img {
    margin-bottom: -18px
  }
}

.hero__appeal {
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  letter-spacing: .036rem;
  margin: 0 0 36px
}

@media (min-width:1024px) {
  .hero__appeal {
    width: 51%
  }
}

@media (min-width:1920px) {
  .hero__appeal {
    font-size: var(--font-size-h3);
    line-height: 3.25rem;
    letter-spacing: .052rem;
    margin-bottom: 55px
  }
}

.hero__test {
  margin-bottom: 40px
}

@media (min-width:1024px) {
  .hero__test {
    width: 49%
  }
}

.hero__image {
  display: none
}

@media (min-width:1024px) {
  .hero__image {
    position: absolute;
    display: block;
    z-index: -1;
    right: 0;
    width: clamp(35%, 50%, 500px);
    height: auto;
    top: 70px
  }
}

@media (min-width:1440px) {
  .hero__image {
    width: clamp(35%, 50%, 600px);
    top: 60px
  }
}

@media (min-width:1920px) {
  .hero__image {
    top: 84px;
    width: 45.3%
  }
}


.test {
  background: var(--gradient-test);
  border-radius: var(--border-radius-card);
  padding: 30px 20px 250px;
  position: relative
}

@media (min-width:1024px) {
  .test {
    padding: 50px 40px 52px
  }
}

@media (min-width:1920px) {
  .test {
    padding: 50px 40px 55px
  }
}

@media (min-width:1024px) {
  .test__wrapper {
    width: 47%
  }
}

.test__heading {
  color: var(--color-background);
  font-size: var(--font-size-base);
  line-height: 2.415rem;
  letter-spacing: .42px;
  margin: 0 0 13px
}

@media (min-width:1920px) {
  .test__heading {
    font-size: 4.6rem;
    line-height: 2.75rem;
    margin-bottom: 30px
  }
}

.test__appeal {
  color: var(--color-background);
  font-size: var(--font-size-md);
  line-height: 2rem;
  letter-spacing: var(--letter-spacing-base);
  margin: 0 0 27px
}

@media (min-width:1920px) {
  .test__appeal {
    font-size: 2.1rem;
    line-height: 2.625rem;
    margin-bottom: 40px
  }
}

.test__form {
  position: relative
}

.test__input {
  font-family: inherit;
  background: var(--color-background);
  border: 0;
  border-radius: var(--border-radius);
  color: #c3c3c3;
  font-size: var(--font-size-md);
  line-height: 2rem;
  letter-spacing: var(--letter-spacing-base);
  padding: 13px 22px 14px 19px;
  width: 100%;
  margin: 0 0 20px;
  appearance: none;
}

@media (min-width:1920px) {
  .test__input {
    padding: 13px 150px 14px 23px;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0
  }
}

.test__button {
  display: block;
  width: 100%
}

@media (min-width:1024px) {
  .test__button {
    margin-bottom: 0
  }
}

@media (min-width:1920px) {
  .test__button {
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 10px 55px;
    width: 264px
  }
}


.test__image-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%
}

@media (max-width:1024px) {
  .test__image-wrapper {
    right: 50%;
    transform: translateX(50%)
  }
}

@media (min-width:1024px) {
  .test__image-wrapper {
    right: 12%;
    width: 36%
  }
}

.test__image {
  display: block;
  margin: 0 auto
}

@media (min-width:1024px) {
  .test__image {
    width: 100%;
    height: auto;
    margin: 0
  }
}

.test--half {
  padding: 30px 20px 38px;
  margin-bottom: 37px
}

@media (min-width:1920px) {
  .test--half {
    padding: 50px 40px;
    margin-bottom: 100px
  }
}

.test--half .test__appeal {
  margin-bottom: 30px
}

.test--half .test__wrapper {
  width: 100%
}


.indicators {
  margin: 0;
  list-style-type: none;
  border-radius: var(--border-radius-card);
  background: var(--color-background-light);
  padding: var(--gap-lg);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-lg)
}

@media (min-width:1024px) {
  .indicators {
    flex-direction: row
  }
}

@media (min-width:1920px) {
  .indicators {
    column-gap: 68px;
    padding: 62px 53px 50px 43px
  }
}

.indicators__item {
  display: flex;
  flex-direction: column;
  row-gap: 18px
}

@media (min-width:1920px) {
  .indicators__item {
    row-gap: 26px
  }
}

.indicators__value {
  margin: 0;
  color: var(--color-accent);
  font-size: 5.6rem;
  line-height: 3rem;
  letter-spacing: .112rem;
  font-weight: 500
}

@media (min-width:1920px) {
  .indicators__value {
    font-size: 7rem;
    line-height: 4rem
  }
}

.indicators__description {
  margin: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-md);
  line-height: 2rem
}

@media (min-width:1920px) {
  .indicators__description {
    font-size: var(--font-size-base);
    line-height: 2.75rem
  }
}


.possibilities {
  padding: 30px 0 20px
}

@media (min-width:1920px) {
  .possibilities {
    padding: 30px 0 50px
  }
}

.possibilities__title {
  margin-bottom: 25px
}

@media (min-width:1920px) {
  .possibilities__title {
    margin-bottom: 37px
  }
}


.possibilities__tabs {
  border-radius: var(--border-radius-card);
  overflow: hidden;
  margin-bottom: 60px
}

@media (min-width:1920px) {
  .possibilities__tabs {
    margin-bottom: 120px
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: 0 10px 50px 0 rgba(46, 184, 151, .1)
}

@media (min-width:1024px) {
  .tabs {
    display: block
  }
}

.tabs__navigation {
  display: none
}

@media (min-width:1024px) {
  .tabs__navigation {
    display: flex
  }
}

.tabs__link {
  border: 0;
  background-color: var(--color-background-light);
  text-align: center;
  padding: 30px 40px 27px;
  cursor: pointer;
  color: #2eb897;
  font-size: var(--font-size-h3);
  line-height: 2.99rem
}

.tabs__link--active {
  background-color: #f6faff;
  color: var(--color-primary)
}

.tabs__link:focus,
.tabs__link:hover {
  background-color: #deeefd
}

.tabs__link:active {
  background-color: #f6faff
}

.tabs__item {
  border-radius: var(--border-radius-card);
  overflow: hidden
}

@media (min-width:1024px) {
  .tabs details:not([open]) {
    display: none
  }
}


.tabs details[open] summary {
  color: var(--color-primary)
}

.tabs details[open] summary::after {
  background: url(../img/arrow-up.svg) no-repeat center
}

@media (min-width:1024px) {
  .tabs details[open] summary {
    display: none
  }
}

.tabs__title {
  padding: 16px 20px 18px;
  color: #2eb897;
  font-size: var(--font-size-lg);
  line-height: 2.07rem;
  font-weight: 500;
  background-color: var(--color-background-light);
  display: flex;
  justify-content: space-between;
  align-items: center
}

.tabs__title::marker {
  display: none
}

.tabs__title::after {
  content: "";
  width: 26px;
  height: 26px;
  background: url(../img/arrow-down.svg) no-repeat center;
  flex-shrink: 0
}

.tabs__content {
  padding: 21px 20px 40px;
  background-color: #f6faff
}

@media (min-width:768px) {
  .tabs__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    grid-template-areas: "heading image" "list image" "button image" ". image"
  }
}

@media (min-width:1920px) {
  .tabs__content {
    padding: 50px 50px 60px 40px
  }
}


.tabs__content h3 {
  font-size: var(--font-size-md);
  line-height: 2rem;
  margin: 0 0 18px;
  grid-area: heading
}

@media (min-width:1920px) {
  .tabs__content h3 {
    font-size: 3rem;
    line-height: 3.75rem;
    margin-bottom: 22px
  }
}


.tabs__content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 0 4px;
  margin: 0 0 24px;
  grid-area: list;
  font-size: var(--font-size-md);
  line-height: 1.84rem
}

@media (min-width:1920px) {
  .tabs__content ul {
    font-size: var(--font-size-base);
    line-height: 2.53rem;
    row-gap: var(--gap);
    margin-bottom: 34px
  }
}

.tabs__content li {
  display: flex;
  column-gap: 13px;
  color: var(--color-secondary)
}

.tabs__content li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  flex-shrink: 0;
  background: var(--gradient-button);
  margin-top: 6px
}

.tabs__content div {
  width: 100%;
  margin-bottom: 30px;
  grid-area: image
}

.tabs__content img {
  display: block;
  border-radius: var(--border-radius-card);
  width: 100%;
  height: auto;
  margin-bottom: 0
}

.tabs__content a {
  grid-area: button
}

@media (min-width:1920px) {
  .tabs__content a {
    width: -moz-fit-content;
    width: fit-content
  }
}


.reports {
  padding: 30px 0 16px
}

@media (min-width:1920px) {
  .reports {
    padding: 38px 0
  }
}

.reports__title {
  margin-bottom: 11px
}

@media (min-width:1920px) {
  .reports__title {
    margin-bottom: 28px;
    width: 55%
  }
}

.reports__subtitle {
  color: #707070;
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  margin: 0 0 25px
}

@media (min-width:1920px) {
  .reports__subtitle {
    font-size: var(--font-size-h3);
    line-height: 3.25rem;
    margin-bottom: 32px
  }
}

.reports__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-lg)
}

@media (min-width:768px) {
  .reports__inner {
    flex-direction: row;
    align-items: start;
    gap: 130px
  }
}

.reports__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 9px
}

@media (min-width:1920px) {
  .reports__list {
    gap: 14px
  }
}

.reports__item {
  border-radius: var(--border-radius-card);
  background-color: #eaf3fd;
  padding: 20px 20px 25px;
  position: relative;
}



.reports__item::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/check.svg) no-repeat center / contain;
}


.reports__item > * {
  padding-left: 56px;
}

@media (min-width: 1920px) {
  .reports__item {
    padding: 30px 40px 40px;
    padding-left: 46px;
    background-position: 26px center;
    background-size: 26px 26px;
  }
}


.reports__text {
  margin: 0;
  color: var(--color-primary);
  font-size: var(--font-size-md);
  line-height: 2rem
}

@media (min-width:1920px) {
  .reports__text {
    font-size: var(--font-size-h3);
    line-height: 3.25rem
  }
}


.reports__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: clamp(32rem, 50vw, 42rem);
  margin: 0rem auto;
  border-radius: var(--border-radius-lg);
}

.reports__image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.advantages {
  padding: 30px 0 20px
}

.advantages__title {
  margin-bottom: 20px
}

@media (min-width:1920px) {
  .advantages__title {
    margin-bottom: 40px
  }
}


.advantages__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 8px;
  margin: 0 0 60px
}

@media (min-width:768px) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px
  }
}

@media (min-width:1440px) {
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg)
  }
}

@media (min-width:1920px) {
  .advantages__list {
    margin-bottom: 137px
  }
}

.advantages__item {
  border-radius: var(--border-radius-card);
  background: linear-gradient(0deg, #eaf3fd 0, #eaf3fd 100%), var(--color-accent);
  padding: 27px 20px 37px
}

@media (min-width:1440px) {
  .advantages__item {
    padding: 40px
  }
}

.advantages__subtitle {
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  margin: 0 0 5px;
  display: flex;
  column-gap: 10px
}

@media (min-width:1440px) {
  .advantages__subtitle {
    column-gap: 15px;
    font-size: 2rem;
    line-height: 2.5rem
  }
}

@media (min-width:1920px) {
  .advantages__subtitle {
    column-gap: var(--gap);
    font-size: 3rem;
    line-height: 3.75rem
  }
}

.advantages__subtitle::before {
  content: "";
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}

@media (min-width:1440px) {
  .advantages__subtitle::before {
    width: 55px;
    height: 45px
  }
}

.advantages__subtitle--accuracy::before {
  background-image: url(../img/accuracy.svg)
}

.advantages__subtitle--functional::before {
  background-image: url(../img/functional.svg)
}

.advantages__subtitle--ease::before {
  background-image: url(../img/manual.svg)
}

.advantages__subtitle--everyone::before {
  background-image: url(../img/experience.svg)
}

.advantages__subtitle--confidentiality::before {
  background-image: url(../img/confidentiality.svg)
}

.advantages__subtitle--service::before {
  background-image: url(../img/service.svg)
}

.advantages__icon {
  width: 4.8rem; 
  height: 4.8rem;
  object-fit: contain;
}

.advantages__description {
  margin: 0;
  color: #707070;
  font-size: var(--font-size-xs);
  line-height: 1.875rem
}

@media (min-width:1440px) {
  .advantages__description {
    font-size: 2rem;
    line-height: 2.5rem
  }
}

@media (min-width:1920px) {
  .advantages__description {
    font-size: var(--font-size-base);
    line-height: 2.75rem
  }
}

.rate {
  padding: 26px 0 30px
}

@media (min-width:1920px) {
  .rate {
    padding: 70px 0 30px
  }
}

.rate__title {
  margin: 0 0 23px
}

@media (min-width:1920px) {
  .rate__title {
    margin-bottom: 32px
  }
}

.rate__form {
  overflow: hidden;
  display: flex;
  column-gap: 8px;
  margin-bottom: 30px
}

@media (min-width:1920px) {
  .rate__form {
    margin-bottom: 43px;
    column-gap: var(--gap-lg)
  }
}

.rate__button-form {
  margin: 0;
  padding: 8px 28px;
  border-radius: var(--border-radius);
  border: 1px solid #dbe1e9;
  font-family: "NT Somic", "Arial", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 2rem;
  min-width: 132px;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer
}

@media (min-width:1920px) {
  .rate__button-form {
    min-width: 234px;
    font-size: var(--font-size-lg);
    line-height: 2.25rem
  }
}

.rate__button-form--active {
  background-color: var(--color-accent-light);
  color: var(--color-background)
}

.rate__button-form:focus,
.rate__button-form:hover {
  box-shadow: 0 0 15px 0 #cecece
}

.rate__button-form:active {
  background-color: var(--color-accent-light);
  color: var(--color-background)
}

.rate__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px
}

@media (min-width:1024px) {
  .rate__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-md) var(--gap)
  }
}

@media (min-width:1440px) {
  .rate__list {
    gap: 70px var(--gap-lg)
  }
}

@media (min-width:1024px) {
  .rate__item--special {
    grid-column: span 3
  }
}

.rate-card {
  padding: 30px 20px;
  border-radius: var(--border-radius-card);
  background-color: #eaf3fd;
  position: relative
}

@media (min-width:1920px) {
  .rate-card {
    padding: 50px 40px
  }
}

.rate-card--white {
  background-color: var(--color-background);
  box-shadow: 0 0 30px 0 rgba(46, 184, 151, .15)
}

.rate-card--blue {
  background-color: #eaf3fd
}

.rate-card--green {
  background-color: rgba(17, 174, 136, .1)
}

.rate-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}


@media (min-width:1920px) {
  .rate-card__wrapper {
    row-gap: 22px
  }
}

.rate-card__inner {
  flex: 1;
  display: flex;
  flex-direction: column
}

@media (min-width:1920px) {
  .rate-card__inner {
    min-height: 112px
  }
}

.rate-card__title {
  margin: 0 0 22px;
  font-size: 2rem;
  line-height: 2.5rem
}

@media (min-width:1920px) {
  .rate-card__title {
    font-size: var(--font-size-h3);
    line-height: 3.25rem;
    margin-bottom: 15px
  }
}

.rate-card__percent {
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
  height: 42px;
  border-radius: 0 var(--border-radius-card);
  background-color: var(--color-accent);
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--color-background)
}

@media (min-width:1920px) {
  .rate-card__percent {
    width: 96px;
    height: 51px
  }
}

.rate-card--discount .rate-card__percent {
  display: flex
}

.rate-card__credit {
  display: none;
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  margin-bottom: 13px
}

@media (min-width:1920px) {
  .rate-card__credit {
    font-size: var(--font-size-base);
    line-height: 2.75rem;
    margin: 0
  }
}


.rate-card__price {
  display: block;
  color: var(--color-accent);
  font-size: var(--font-size-h3);
  line-height: 3.25rem
}

@media (min-width:1920px) {
  .rate-card__price {
    font-size: 3rem;
    line-height: 3.75rem
  }
}

.rate-card__button-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px
}

@media (min-width:1920px) {
  .rate-card__button-wrapper {
    row-gap: var(--gap)
  }
}

.rate-card__button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px
}

.rate-card__button--more::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/arrow-right.svg) no-repeat center/cover
}

@media (min-width:1920px) {
  .rate-card__button--more::after {
    width: 22px;
    height: 22px
  }
}

.rate-card--credit .rate-card__credit {
  display: block
}

.rate-card--special {
  background: linear-gradient(87deg, #fff1d7 0, #ffb57f 100%), #e7f7f3
}

@media (max-width:1023px) {
  .rate-card--special {
    padding-bottom: 250px
  }
}

@media (min-width:1024px) {
  .rate-card--special .rate-card__wrapper {
    width: 26%
  }

  .rate-card--special .rate-card__title {
    width: 200%
  }
}

.rate-card--special .rate-card__image-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%
}

@media (max-width:1023px) {
  .rate-card--special .rate-card__image-wrapper {
    right: 50%;
    transform: translateX(50%)
  }
}

@media (min-width:1024px) {
  .rate-card--special .rate-card__image-wrapper {
    right: 0;
    width: 55%
  }
}

.rate-card--special .rate-card__image {
  display: block;
  margin: 0 auto
}

@media (min-width:1024px) {
  .rate-card--special .rate-card__image {
    width: 100%;
    height: auto;
    margin: 0
  }
}



.reviews {
  padding: 26px 0 55px
}

@media (min-width:1920px) {
  .reviews {
    padding: 50px 0 125px
  }
}

.reviews__header {
  margin-bottom: 28px
}

@media (min-width:1024px) {
  .reviews__header {
    display: flex;
    justify-content: space-between
  }
}

@media (min-width:1920px) {
  .reviews__header {
    margin-bottom: 40px
  }
}


.reviews blockquote,
.reviews__title {
  margin: 0
}

@media (min-width:1920px) {
  .reviews__title {
    margin-bottom: 0
  }
}

.reviews__controls-wrapper {
  display: none
}

@media (min-width:1024px) {
  .reviews__controls-wrapper {
    display: flex;
    column-gap: 34px
  }
}

.reviews__control {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  border: 0
}

.reviews__control--prev {
  background: url(../img/arrow-left.svg) no-repeat center/cover
}

.reviews__control--next {
  background: url(../img/arrow-right.svg) no-repeat center/cover
}

.reviews__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 14px
}

@media (min-width:1024px) {
  .reviews__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap-lg);
    margin: 0
  }
}


.reviews__item {
  display: none;
  position: relative;
  border-radius: var(--border-radius-card);
  background: url(../img/quote.svg) no-repeat, linear-gradient(0deg, #eaf3fd 0, #eaf3fd 100%), var(--color-accent);
  background-position: top 24px left 10px;
  padding: 37px 20px 92px
}

.footer__logo p,
.reviews__item--show {
  display: block
}

@media (min-width:1920px) {
  .reviews__item {
    padding: 57px 50px 140px 51px;
    background-size: 223px 144px;
    background-position: top 40px left 40px
  }
}

@media (max-width:1023px) {
  .reviews__item:nth-child(2) {
    display: none
  }
}

.reviews__text {
  margin: 0;
  color: var(--color-secondary);
  font-size: var(--font-size-xs);
  line-height: 1.875rem
}

@media (min-width:1024px) {
  .reviews__text {
    font-size: var(--font-size-base);
    line-height: 2.75rem
  }
}

.reviews__accordion {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 240px;
  left: 0;
  bottom: 0;
  border-radius: var(--border-radius-card);
  background: linear-gradient(180deg, rgba(234, 243, 253, 0) 0, #eaf3fd 50.52%);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 26px
}

@media (min-width:1920px) {
  .reviews__accordion {
    height: 261px;
    padding: 51px
  }
}

.reviews__button {
  padding: 0;
  color: var(--color-accent-light);
  font-size: var(--font-size-lg);
  line-height: 2.25rem;
  background: 0 0;
  border: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer
}

@media (min-width:1920px) {
  .reviews__button {
    font-size: 2.4rem;
    line-height: 3rem
  }
}


.reviews__button::after {
  content: "";
  width: 12px;
  height: 8px;
  background: url(../img/arrow-green-down.svg) no-repeat center
}

.reviews__button--hidden {
  display: none
}

.reviews__author {
  margin: 0;
  font-size: var(--font-size-lg);
  line-height: 2.25rem
}

@media (min-width:1920px) {
  .reviews__author {
    font-size: var(--font-size-h3);
    line-height: 3.25rem
  }
}

.reviews__pagination {
  display: flex;
  justify-content: center;
  column-gap: 6px
}

@media (min-width:1024px) {
  .reviews__pagination {
    display: none
  }
}


.reviews__indicator {
  padding: 0;
  margin: 0;
  width: 6px;
  height: 6px;
  background-color: #ebf4fe;
  border: 0;
  border-radius: 50%
}

.reviews__indicator--active {
  background-color: #2eb897
}


footer {
  background-color: #e8f2fc;
}

.footer__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  padding: 50px 0
}

@media (min-width:768px) {
  .footer__container {
    width: calc(100% - 100px)
  }
}

@media (min-width:1024px) {
  .footer__container {
    width: calc(100% - 140px)
  }
}

@media (min-width:1440px) {
  .footer__container {
    width: calc(100% - 230px)
  }
}

@media (min-width:1920px) {
  .footer__container {
    width: calc(100% - 320px)
  }
}

@media (min-width:1024px) {
  .footer__container {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "contacts block-group" "copyright ." "disclaimer payment" ". design"
  }
}


.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-md);
  margin-bottom: 32px;
  grid-area: contacts
}

.footer__logo {
  flex-direction: column;
  align-items: start;
  row-gap: 14px
}

.footer__block-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-lg) var(--gap);
  margin-bottom: 30px;
  grid-area: block-group
}

@media (max-width:767px) {
  .footer__block-group div:nth-child(3) {
    grid-column: span 2
  }
}

@media (min-width:768px) {
  .footer__block-group {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media (min-width:1024px) {
  .footer__block-group {
    column-gap: 0;
    margin: 0
  }
}

.footer__item,
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 26px
}

.footer__list a,
.footer__title {
  font-size: var(--font-size-lg);
  line-height: 2.25rem
}

.footer__title {
  margin: 0
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.footer__list a {
  display: block;
  text-decoration: none;
  color: var(--color-secondary)
}

.footer__payment {
  grid-area: payment
}

@media (min-width:1024px) {
  .footer__payment {
    justify-self: end
  }
}

.footer__copyright,
.footer__design,
.footer__disclaimer {
  color: var(--color-secondary);
  font-size: var(--font-size-md);
  line-height: 2rem;
  margin: 0 0 27px
}

.footer__copyright {
  grid-area: copyright
}

.footer__disclaimer {
  grid-area: disclaimer
}

.footer__design {
  grid-area: design
}

.footer__design span {
  color: #2eb897
}

@media (min-width:1024px) {
  .footer__design {
    justify-self: end
  }
}


.socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 11px;
}

.socials__link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 767px) {
  .socials__link {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.socials__link--vkontakte {
  background-image: url(../img/vkontakte.svg)
}

.socials__link--telegram {
  background-image: url(../img/telegram.svg)
}

.socials__link--youtube {
  background-image: url(../img/youtube.svg)
}



.payment {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 17px;
  margin: 0 0 30px
}

@media (min-width:1024px) {
  .payment {
    margin: 0
  }
}

.payment li:nth-child(1) {
  margin-right: 8px
}

@media (min-width:1024px) {
  .payment li:nth-child(1) {
    margin-right: 16px
  }
}

.payment li:nth-child(2) {
  margin-right: 16px
}

@media (min-width:1024px) {

  .payment li:nth-child(2),
  .payment li:nth-child(3) {
    margin-right: 25px
  }
}

.payment li:nth-child(4) {
  margin-right: 17px
}

@media (min-width:1024px) {
  .payment li:nth-child(4) {
    margin-right: 26px
  }
}

.payment__image {
  display: block
}

.picture__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  border: 15px solid #cecece;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-rows: 3fr 3fr 1fr 1fr;
  width: 650px;
  height: 650px;
  gap: var(--gap);
  background-color: #040b08
}

@media (max-width:767px) {
  .picture__list {
    width: 90vw;
    height: 90vw
  }
}

.picture__list li:nth-child(1) {
  background-color: #eae9e7
}

.picture__list li:nth-child(2) {
  background-color: #d52315;
  grid-column: 2/4;
  grid-row: 1/3
}

.picture__list li:nth-child(3) {
  background-color: #eae9e7
}

.picture__list li:nth-child(4) {
  background-color: #025b9d;
  grid-row: 3/5
}

.picture__list li:nth-child(4) {
  background-color: #025b9d;
  grid-row: 3/5
}

.picture__list li:nth-child(6) {
  background-color: #eae9e7
}

.picture__list li:nth-child(7) {
  background-color: #f1dd7e
}