:root {
  --primary-color: #212121;
  --secondary-color: #6C778E;
  --accent-color: #2a84ee;
  --background-color: #ffffff;
  --button-bg: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%);
  --button-text: #fff;
  --font_size_h1: 4.0rem;
  --font-size-base: 2.2rem;
  --line-height-base: 2.75rem;
  --border-radius: 30px;

  --hero-subtitle-color: #6c778e;
  --hero-subtitle-font-size: 1.6rem;

  --header-logo-text-size: 1.4rem;
  --header-nav-font-size: 1.8rem;

  --container-max-width: 1200px;
  --gap: 20px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  font-family: "NT Somic", "Arial", sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  background-color: var(--background-color);
  font-weight: 400;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}



.button {
  padding: 13px 35px;
  border-radius: var(--border-radius);
  border: 0;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 169.72%);
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer
}

.button:focus,
.button:hover {
  box-shadow: 0 0 30px 0 #50abdc;
  transition: all .3s
}

.button:active {
  background: linear-gradient(91deg, #2a84ee 5.69%, #11ae88 169.72%), #11ae88
}



.header__container,
.main__container,
.footer__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--gap);
}


.header__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 20px 0
}

.header__site-navigation,
.header__toggle span,
.user-navigation__link span {
  display: none
}

.header__user-navigation {
  margin-left: auto
}

.header__toggle {
  margin-left: 22px;
  width: 30px;
  height: 25px;
  background: url(../img/burger.svg) no-repeat center;
  cursor: pointer;
  border: 0
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 30px
}

.logo__image {
  display: block;
  height: auto
}

.logo__text {
  display: none;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #969eb1
}

.logo__market--wb {
  color: #702a8a
}

.logo__market--ozon {
  color: #1065ff
}


.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 10px
}

.site-navigation__link {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #212121;
  padding: 13px 20px;
  display: block;
  border-radius: 5px
}

.site-navigation__link:focus,
.site-navigation__link:hover {
  box-shadow: 0 0 30px 0 #bbb;
  transition: all .3s
}

.site-navigation__link:active {
  background-color: #f0f0f0
}


.user-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.user-navigation__link {
  color: #212121;
  display: none;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.75rem
}

.user-navigation__link--sign-in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px
}

.user-navigation__link--sign-in::before {
  content: "";
  width: 26px;
  height: 25px;
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  background-position: center
}

.user-navigation__link--sign-up {
  color: #fff
}


.main {
  flex-grow: 1
}

.main--blue {
  background-color: #e8f2fc
}

.main__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  min-height: 100%
}


.hero {
  padding: 15px 0;
  position: relative
}

.hero__title {
  color: #212121;
  font-size: 2.8rem;
  line-height: 3.22rem;
  letter-spacing: .05rem;
  margin-bottom: 15px
}

.hero__title span:nth-child(1) {
  color: #2eb897
}

.hero__title span:nth-child(2) {
  color: #2a84ee
}

.hero__title img {
  margin-bottom: -5px
}

.hero__appeal {
  color: #6c778e;
  font-size: 1.8rem;
  line-height: 2.25rem;
  letter-spacing: .036rem;
  margin: 0 0 36px
}

.hero__test {
  margin-bottom: 40px
}

.hero__image {
  display: none
}



.test {
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 125.81%), #2eb897;
  border-radius: 10px;
  padding: 30px 20px 250px;
  position: relative
}

.test__heading {
  color: #fff;
  font-size: 2.1rem;
  line-height: 2.415rem;
  letter-spacing: .42px;
  margin: 0 0 13px
}

.test__appeal {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: .032rem;
  margin: 0 0 27px
}

.test__form {
  position: relative
}

.test__input {
  font-family: inherit;
  font-size: inherit;
  background-image: none;
  box-shadow: none;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  margin: 0 0 20px;
  display: block;
  width: 100%;
  padding: 13px 22px 14px 19px;
  background-color: #fff;
  border-radius: 30px;
  color: #c3c3c3;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: .032rem
}

.test__button {
  display: block;
  width: 100%
}

.test__image-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%
}

.test__image {
  display: block;
  margin: 0 auto
}

.test--half {
  padding: 30px 20px 38px;
  margin-bottom: 37px
}

.test--half .test__appeal {
  margin-bottom: 30px
}

.test--half .test__wrapper {
  width: 100%
}


.indicators {
  margin: 0;
  list-style-type: none;
  border-radius: 10px;
  background: #e8f2fc;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 40px
}

.indicators__item {
  display: flex;
  flex-direction: column;
  row-gap: 18px
}

.indicators__value {
  margin: 0;
  color: #2a84ee;
  font-size: 5.6rem;
  line-height: 3rem;
  letter-spacing: .112rem;
  font-weight: 500
}

.indicators__description {
  margin: 0;
  color: #6c778e;
  font-size: 1.6rem;
  line-height: 2rem
}



.possibilities {
  padding: 30px 0 20px
}

.possibilities__title {
  margin-bottom: 25px
}

.possibilities__tabs {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px
}

.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: 0 10px 50px 0 rgba(46, 184, 151, .1)
}

.tabs__navigation {
  display: none
}

.tabs__link {
  border: 0;
  background-color: #e8f2fc;
  text-align: center;
  padding: 30px 40px 27px;
  cursor: pointer;
  color: #2eb897;
  font-size: 2.6rem;
  line-height: 2.99rem
}

.tabs__link--active {
  background-color: #f6faff;
  color: #212121
}

.tabs__link:focus,
.tabs__link:hover {
  background-color: #deeefd
}

.tabs__link:active {
  background-color: #f6faff
}

.tabs__item {
  border-radius: 10px;
  overflow: hidden
}

.tabs details[open] summary {
  color: #212121
}

.tabs details[open] summary::after {
  background: url(../img/arrow-up.svg) no-repeat center
}

.tabs__title {
  padding: 16px 20px 18px;
  color: #2eb897;
  font-size: 1.8rem;
  line-height: 2.07rem;
  font-weight: 500;
  background-color: #e8f2fc;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.tabs__title::marker {
  display: none
}

.tabs__title::after {
  content: "";
  width: 26px;
  height: 26px;
  background: url(../img/arrow-down.svg) no-repeat center;
  flex-shrink: 0
}

.tabs__content {
  padding: 21px 20px 40px;
  background-color: #f6faff
}

.tabs__content h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 0 18px;
  grid-area: heading
}

.tabs__content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 0 4px;
  margin: 0 0 24px;
  grid-area: list;
  font-size: 1.6rem;
  line-height: 1.84rem
}

.tabs__content li {
  display: flex;
  column-gap: 13px;
  color: #6c778e
}

.tabs__content li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  flex-shrink: 0;
  background: linear-gradient(91deg, #11ae88 5.69%, #2a84ee 125.81%), #d9d9d9;
  margin-top: 6px
}

.tabs__content div {
  width: 100%;
  margin-bottom: 30px;
  grid-area: image
}

.tabs__content img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 0
}

.tabs__content a {
  grid-area: button
}



.reports {
  padding: 30px 0 16px
}

.reports__title {
  margin-bottom: 11px
}

.reports__subtitle {
  color: #707070;
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin: 0 0 25px
}

.reports__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}

.reports__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 9px
}

.reports__item {
  border-radius: 10px;
  background-color: #eaf3fd;
  padding: 20px 20px 25px;
  display: flex;
  column-gap: 9px
}

.reports__item::before {
  content: "";
  min-width: 20px;
  height: 20px;
  background: url(../img/check.svg) no-repeat center
}

.reports__text {
  margin: 0;
  color: #212121;
  font-size: 1.6rem;
  line-height: 2rem
}

.reports__image {
  display: block
}


.advantages {
  padding: 30px 0 20px
}

.advantages__title {
  margin-bottom: 20px
}

.advantages__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 8px;
  margin: 0 0 60px
}

.advantages__item {
  border-radius: 10px;
  background: linear-gradient(0deg, #eaf3fd 0, #eaf3fd 100%), #2a84ee;
  padding: 27px 20px 37px
}

.advantages__subtitle {
  color: #212121;
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin: 0 0 5px;
  display: flex;
  column-gap: 10px
}

.advantages__subtitle::before {
  content: "";
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}

.advantages__subtitle--accuracy::before {
  background-image: url(../img/accuracy.svg)
}

.advantages__subtitle--functional::before {
  background-image: url(../img/functional.svg)
}

.advantages__subtitle--ease::before {
  background-image: url(../img/manual.svg)
}

.advantages__subtitle--everyone::before {
  background-image: url(../img/experience.svg)
}

.advantages__subtitle--confidentiality::before {
  background-image: url(../img/confidentiality.svg)
}

.advantages__subtitle--service::before {
  background-image: url(../img/service.svg)
}

.advantages__description {
  margin: 0;
  color: #707070;
  font-size: 1.5rem;
  line-height: 1.875rem
}


.rate {
  padding: 26px 0 30px
}

.rate__title {
  margin: 0 0 23px
}

.rate__form {
  overflow: hidden;
  display: flex;
  column-gap: 8px;
  margin-bottom: 30px
}

.rate__button-form {
  margin: 0;
  padding: 8px 28px;
  border-radius: 30px;
  border: 1px solid #dbe1e9;
  font-family: "NT Somic", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  min-width: 132px;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer
}

.rate__button-form--active {
  background-color: #11ae88;
  color: #fff
}

.rate__button-form:focus,
.rate__button-form:hover {
  box-shadow: 0 0 15px 0 #cecece
}

.rate__button-form:active {
  background-color: #11ae88;
  color: #fff
}

.rate__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.rate-card {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #eaf3fd;
  position: relative
}

.rate-card--white {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(46, 184, 151, .15)
}

.rate-card--blue {
  background-color: #eaf3fd
}

.rate-card--green {
  background-color: rgba(17, 174, 136, .1)
}

.rate-card__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px
}

.rate-card__inner {
  min-height: 80px;
  display: flex;
  flex-direction: column
}

.rate-card__title {
  margin: 0 0 22px;
  font-size: 2rem;
  line-height: 2.5rem
}

.rate-card__percent {
  font-size: 1.8rem;
  line-height: 2.25rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
  height: 42px;
  border-radius: 0 10px;
  background-color: #2a84ee;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff
}

.rate-card--discount .rate-card__percent {
  display: flex
}

.rate-card__credit {
  display: none;
  color: #6c778e;
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin-bottom: 13px
}

.rate-card__price {
  display: block;
  color: #2a84ee;
  font-size: 2.6rem;
  line-height: 3.25rem
}

.rate-card__button-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px
}

.rate-card__button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px
}

.rate-card__button--more::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/arrow-right.svg) no-repeat center/cover
}

.rate-card--credit .rate-card__credit {
  display: block
}

.rate-card--special {
  background: linear-gradient(87deg, #fff1d7 0, #ffb57f 100%), #e7f7f3
}

.rate-card--special .rate-card__image-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%
}

.rate-card--special .rate-card__image {
  display: block;
  margin: 0 auto
}


.reviews {
  padding: 26px 0 55px
}

.reviews__header {
  margin-bottom: 28px
}

.reviews blockquote,
.reviews__title {
  margin: 0
}

.reviews__controls-wrapper {
  display: none
}

.reviews__control {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  border: 0
}

.reviews__control--prev {
  background: url(../img/arrow-left.svg) no-repeat center/cover
}

.reviews__control--next {
  background: url(../img/arrow-right.svg) no-repeat center/cover
}

.reviews__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 14px
}

.reviews__item {
  display: none;
  position: relative;
  border-radius: 10px;
  background: url(../img/quote.svg) no-repeat, linear-gradient(0deg, #eaf3fd 0, #eaf3fd 100%), #2a84ee;
  background-position: top 24px left 10px;
  padding: 37px 20px 92px
}

.footer__logo p,
.reviews__item--show {
  display: block
}

.reviews__text {
  margin: 0;
  color: #6c778e;
  font-size: 1.5rem;
  line-height: 1.875rem
}

.reviews__accordion {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 240px;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(234, 243, 253, 0) 0, #eaf3fd 50.52%);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 26px
}

.reviews__button {
  padding: 0;
  color: #2eb897;
  font-size: 1.8rem;
  line-height: 2.25rem;
  background: 0 0;
  border: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer
}

.reviews__button::after {
  content: "";
  width: 12px;
  height: 8px;
  background: url(../img/arrow-green-down.svg) no-repeat center
}

.reviews__button--hidden {
  display: none
}

.reviews__author {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.25rem
}

.reviews__pagination {
  display: flex;
  justify-content: center;
  column-gap: 6px
}

.reviews__indicator {
  padding: 0;
  margin: 0;
  width: 6px;
  height: 6px;
  background-color: #ebf4fe;
  border: 0;
  border-radius: 50%
}

.reviews__indicator--active {
  background-color: #2eb897
}


footer {
  background-color: #e8f2fc;
}

.footer__container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 40px);
  padding: 50px 0
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 32px;
  grid-area: contacts
}

.footer__logo {
  flex-direction: column;
  align-items: start;
  row-gap: 14px
}

.footer__block-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  margin-bottom: 30px;
  grid-area: block-group
}

.footer__item,
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 26px
}

.footer__list a,
.footer__title {
  font-size: 1.8rem;
  line-height: 2.25rem
}

.footer__title {
  margin: 0
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.footer__list a {
  display: block;
  text-decoration: none;
  color: #6c778e
}

.footer__payment {
  grid-area: payment
}

.footer__copyright,
.footer__design,
.footer__disclaimer {
  color: #6c778e;
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 0 27px
}

.footer__copyright {
  grid-area: copyright
}

.footer__disclaimer {
  grid-area: disclaimer
}

.footer__design {
  grid-area: design
}

.footer__design span {
  color: #2eb897
}


.socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 11px
}

.socials__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px
}


.payment {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 17px;
  margin: 0 0 30px
}

.payment li:nth-child(1) {
  margin-right: 8px
}

.payment li:nth-child(2) {
  margin-right: 16px
}

.payment li:nth-child(4) {
  margin-right: 17px
}

.payment__image {
  display: block
}